html{
    font-size: 20px;
}
.khoi{
    width: 50%;
    height: 300px;
    border: 2px solid red;
}
.cha{
    font-size: 18px;
}
.con{
    font-size: 1.5em;
    width: 2em;
}
.khoi2{
    font-size: 1.2rem;/*24px*/
}
.con2{
    font-size: 1rem;/*20px*/
    width: 30vw;
    height: 50vh;
    border: 2px solid red ;
}